body {
    background-color: rgb(223, 219, 219);
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}
header {
    margin-bottom: -20px;
    margin-top: -20px;
}
h1 {
    text-align: center;
    font-size: 100px;
}

dl.centered { 
    color: black;  
    font-family: sans-serif;
	margin-bottom: 10px;
	
}
dd.centered {
    text-align: center; 
    color: black;  
    font-family: sans-serif;
	max-width: 40%;
	margin: 0 auto 25px;
}

dt.centered {
    width: 150px;
    padding: 7.5px 7.5px;
	margin: 0 auto;
    margin: top 10px;
    margin: bottom 10px;
    font-size: 25px;
}

dt {
    text-align: center; 
    color: black;  
    font-family: monospace;
}

ol {
	display: table;
    margin: 0 auto;
    text-align: left;
}

ul {
	
	display: table;
    margin: 50px  auto 100px ;
    text-align: left;
}

li {
	text-align: left; 
    color: black;
	font-family: sans-serif;
}

li.centered {
	margin-left: 180px;
}

h2 {
	font-size: 20px;
	text-decoration: solid;
    text-align: center;
}

details {
    margin-left: -80px;
    cursor: pointer;
    border: solid;
    border-width: .001cm;
    margin-bottom: 10px;
    border-radius: 10px;
}

summary {
    font-family: sans-serif;
    padding: 5px;
}

details p {
    font-family: sans-serif;
    text-align: center;
}

svg {
    margin: 50px  auto 100px 550px;
}

table.centered {
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

tr.centered {
    text-align: center;
    border: 1px solid black;
}

td.centered {
    text-align: center;
    border: 1px solid black;
}

th.centered {
    text-align: center;
    border: 1px solid black;
}

ul.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: .01cm;
    border-radius: 1cm;
   text-align: center;
}

li.navBar {
    padding: 14px 14px;
    display: inline-block; 
    overflow: auto;  
    
}

li.navBar:hover {
    background-color: lightgray;
}

a.navBar {
    color:black;
    text-decoration:none;
    padding: 8px;
    display: block; 
}

div.center {
    margin: 0 auto; 
    width: 400px;
    display: block
}