body {
    background-color: rgb(238, 238, 238);
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}

h1 {
    text-align: center;
}

dl.centered { 
    color: black;  
    font-family: sans-serif;
	margin-bottom: 10px;
	
}
dd.centered {
    text-align: center; 
    color: black;  
    font-family: sans-serif;
	max-width: 40%;
	margin: 0 auto 25px;
}

dt.centered {
    width: 150px;
    padding: 7.5px 7.5px;
	margin: 0 auto;
    margin: top 10px;
    margin: bottom 10px;
    font-size: 25px;
}

dt {
    text-align: center; 
    color: black;  
    font-family: monospace;
}

ol {
	display: table;
    margin: 0 auto;
    text-align: left;
}

ul {
	
	display: table;
    margin: 50px  auto 100px ;
    text-align: left;
}

li {
	text-align: left; 
    color: black;
	font-family: sans-serif;
}

li.centered {
	margin-left: 180px;
}

h2 {
	text-align: center;
	font-size: 50px;
	text-decoration: solid;
}

details {
    margin-left: -80px;
    cursor: pointer;
    border: solid;
    border-width: .001cm;
    margin-bottom: 10px;
    border-radius: 10px;
}

summary {
    font-family: sans-serif;
    padding: 5px;
}

details p {
    font-family: sans-serif;
    text-align: center;
}

svg {
    margin: 50px  auto 100px 550px;
}

table.centered {
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}

tr.centered {
    text-align: center;
    border: 1px solid black;
}

td.centered {
    text-align: center;
    border: 1px solid black;
}

th.centered {
    text-align: center;
    border: 1px solid black;
}

audio.centered {
    margin:1.25rem auto;
    padding:1.051%;
  }