body {
    background-color: rgb(241, 238, 238);
	max-width: 2000px;
	width: 100%;
	margin: 0 auto;
}



dl.centered { 
    color: black;  
    font-family: sans-serif;
	margin-bottom: 100px;
	
}
dd.centered {
    text-align: center; 
    color: black;  
    font-family: sans-serif;
	max-width: 40%;
	margin: 0 auto 25px;
}

dt.centered {
    width: 150px;
    padding: 7.5px 7.5px;
	margin: 0 auto;
    margin: top 10px;
    margin: bottom 10px;
    font-size: 25px;
}

dt {
    text-align: center; 
    color: black;  
    font-family: monospace;
}

ol {
	display: table;
    margin: 0 auto;
    text-align: left;
}

ul {
	
	display: table;
    margin: 50px  auto 50px ;
    text-align: left;
}

li {
	text-align: left; 
    color: black;
	font-family: sans-serif;
}

li.centered {
	margin-left: 180px;
}